<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <div class="chats">
  </div>
  <div class="message">
    <input id="name" type="text" value="Robby" placeholder="your name" />
    <input id="msg" type="text" placeholder="input the message" />
    <button type="button">送出</button>
  </div>
  <div>
    <form id="form" action="/updata" method="post" enctype="multipart/form-data">
      <h2>單圖上傳</h2>
      <input id="file" type="file" name="logo" multiple>
      <input id="submit" type="submit" value="提交">
    </form>
  </div>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js'></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js'></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment.js'></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/locale/zh-tw.js'></script>
  <script src="./javascripts/app.js"></script>
</body>

</html>